* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Cascadia Code';
    background-image: url(../style/background.jpg);
    background-size: cover;
}

header {
    height: 100vh ;

}

.content {
    display: flex;
    flex-direction: column;
}
/* --------------- Barre de nav --------------- */

.navbar {
    position: sticky;
    top: 0;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}

.box-logo {
    display: flex;
    align-items: center;
}

.navbar img {
    width: 10%;
}

.navbar a {
    color: white;
}

.navbar .logo{
    font-size: 2em;
    font-weight: bold;
}

.navbar .nav-links ul {
    display: flex; 
}

.navbar .nav-links ul li {
    margin: 0 25px;
}

.navbar .nav-links ul li:hover a {
    color: blue;
    font-weight: 600;
}

.navbar .menu-btn {
    display: none;
    position: absolute;
    right: 30px;
    top: 50px;
    width: 30px;
}

/* --------------- Bloc presentation --------------- */

.presentation-box{
    width: 100%;
}
.presentation-text {
    color: white;
    position: absolute;
    top: 0;
    margin-top: 12rem;
    padding: 35px;  
}

/* --------------- Bloc CV --------------- */
.flex {
    display: flex;
    flex-direction: column;
}


.cv-box {
    height: auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 16rem;
    align-items: center;
}

.cv-title-box {
    margin: 50px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    width: 85%;
    color: white;
    position: absolute;
    border: 0.5rem groove;
    border-radius: 30px;
    border-color: white;
    background-color: rgba(255,255,255,0.5);
}

.cv-title {
    font-size: 2em;
    font-weight: bold;
}

.cv-dl {
    display: inline-block;
    color: white;
    margin-top: 1rem;

}

.cv-dl a {
    color: white;
}

.cv-dl a:hover {
    color: black;
}

.skill-box {
    display: flex;
    margin-top: 1rem;

}

.skill-content {
    display: flex;
    width: 100%;

}

.skill-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    gap: 1.5em;
    justify-content: center;
}


.skill-logo {
    display: flex;
    align-items: center;

}

/* --------------- Bloc Project --------------- */
/* Test avec grid */

.project-box {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: absolute;
    top: 58rem;
}

.project-title-box {
    display: flex;
    padding: 50px;
    gap: 10px;
    flex-direction: row;
    justify-content: space-between;
    width: 85%;
    color: white;
    position: absolute;
    border: 0.5rem groove;
    border-radius: 30px;
    border-color: white;
    background-color: rgba(255,255,255,0.5);
}

.project-title {
    font-size: 2em;
    font-weight: bold;
}

.github-profile{
    display: flex;
    flex-direction: column;
}

.project-display {
    display: flex;
}

/* --------------- Page Formulaire --------------- */
.container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    display: grid;
    gap: 10px;
}

label {
    font-weight: bold;
}

input,
textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px;
    background-color: #006495;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0a6c9c;
}
/* --------------- Media Queries --------------- */

@media  screen and (max-width: 900px) {
    .navbar {
        padding: 0;
    }

    .navbar .logo {
        position: absolute;
        top: 40px;
        left: 30px;
    }

    .navbar .menu-btn {
        display: block;
    }

    .nav-links {
        top: 0;
        left: 0;
        position: absolute;
        background-color: rgba(255, 255, 255, 0.20);
        backdrop-filter: blur(5px);
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: -100%;
    }

    .presentation-box {
        color: blue;
        padding: 0;
    }

    .mobile-menu {
        margin-left: 0;
        transition: all 0.5s ease;
    }

    .nav-links ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .navbar .nav-links ul li {
        margin: 25px 0;
        font-size: 1.2em;
    }
}