* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Cascadia Code';
    background-image: url(../style/bg_main.jpg);
    background-size: contain;

}

/* --------------- Conteneur --------------- */
.main_container {
    display: flex;
    flex-direction: column;

}

.content {
    display: flex;
    flex-direction: column;
    padding: 30px;
}

/* --------------- Barre de nav --------------- */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}

.box-logo {
    display: flex;
    align-items: center;
}

.img-logo {
    width: 10%;
}

.navbar a {
    color: white;
}

.navbar .logo {
    font-size: 2em;
    font-weight: bold;
}

.navbar .nav-links ul {
    display: flex;
}

.navbar .nav-links ul li {
    margin: 0 25px;
}

.navbar .nav-links ul li:hover a {
    color: blue;
    font-weight: 600;
}

.navbar .menu-btn {
    display: none;
    position: absolute;
    right: 30px;
    top: 50px;
    width: 30px;
}

/* --------------- Bloc presentation --------------- */

.presentation-box {
    width: 100%;
}

.presentation-text {
    color: white;
}

/* --------------- Bloc CV --------------- */
.flex {
    display: flex;
    flex-direction: column;
}


.cv-box {
    height: auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.cv-title-box {
    margin: 50px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    width: 85%;
    color: white;
    border: 0.5rem groove;
    border-radius: 30px;
    border-color: white;
    background-color: rgba(255, 255, 255, 0.5);
}

.cv-title {
    font-size: 2em;
    font-weight: bold;
}

.cv-dl {
    display: inline-block;
    color: white;
    margin-top: 1rem;

}

.cv-dl a {
    color: white;
}

.cv-dl a:hover {
    color: black;
}

.skill-box {
    display: flex;
    margin-top: 1rem;

}

.skill-content {
    display: flex;
    width: 100%;

}

.skill-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    gap: 1.5em;
    justify-content: center;
}


.skill-logo {
    display: flex;
    align-items: center;
    gap: 10px;

}

/* --------------- Bloc Project --------------- */
.project-box {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}


.project-title-box {
    padding: 50px;
    gap: 10px;
    width: 85%;
    color: white;
    border: 0.5rem groove;
    border-radius: 30px;
    border-color: white;
    background-color: rgba(255, 255, 255, 0.5);
}

.project-display {
    margin-bottom: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.project-title {
    font-size: 2em;
    font-weight: bold;
}

.github-profile {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.project-description {
    display: flex;
    justify-content: space-around;
}

.project-card {
    padding: 20px;
    width: 30%;
    height: 150px;
    display: flex;
    border: solid;
}

.project-card:hover {
    transition-duration: 0.5s;
    background-color: whitesmoke;
    color: #143395;
}



.card-display {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.project-global {
    gap: 12px;
    display: flex;
    flex-direction: column;
}

.project-link {
    font-size: 20px;
    height: 20px;
    color: #143395;
}

.logo-skills {
    display: flex;
}

.logo-mini {
    width: 40px;
    height: 40px;
}

/* --------------- Page Formulaire --------------- */
.container {
    max-width: 600px;
    margin: 50px auto;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    display: grid;
    gap: 10px;
}

label {
    font-weight: bold;
}

input,
textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px;
    background-color: #006495;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0a6c9c;
}

/* --------------- Footer --------------- */
footer {
    display: flex;
    align-items: center;
    margin: 50px 0 0;
    padding: 20px;
}

.contact {
    display: flex;
    flex-direction: column;
    width: 33%;
}
.img-logo-contact {
    width: 20%;
}

.footer-content {
    width: 33%;
}
/* --------------- Media Queries --------------- */

@media screen and (max-width: 900px) {
    .navbar {
        padding: 0;
    }

    .navbar .menu-btn {
        display: block;
    }

    .nav-links {
        top: 0;
        left: 0;
        position: absolute;
        background-color: rgba(255, 255, 255, 0.20);
        backdrop-filter: blur(5px);
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: -100%;
    }

    .presentation-box {
        color: blue;
        padding: 0;
    }

    .mobile-menu {
        margin-left: 0;
        transition: all 0.5s ease;
    }

    .nav-links ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .navbar .nav-links ul li {
        margin: 25px 0;
        font-size: 1.2em;
    }
}